In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC # Support vector machine linear classifier
from sklearn.model_selection import GridSearchCV # Create the GridSearch estimator along with a parameter object containing the values to adjust

C:\Users\Brian\Anaconda3\lib\site-packages\numpy\core\__init__.py:29: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Brian\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.BNVRK7633HSX7YVO2TADGR4A5KEKXJAW.gfortran-win_amd64.dll
C:\Users\Brian\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [3]:
rent_df = pd.read_csv("final_dataset.csv")
rent_df.head()

         Neighborhood  Laundromats  Garages  Citi Bikes Rent Category
0   Battery Park City            1       22           5     High Rent
1             Chelsea           17       49          18   Medium Rent
2           Chinatown            5        7           4      Low Rent
3        East Village           36        8          20      Low Rent
4  Financial District            0       38          18   Medium Rent

In [5]:
target = rent_df["Rent Category"]
data = rent_df.drop("Rent Category", axis=1)
feature_names = data.columns
data.head()

         Neighborhood  Laundromats  Garages  Citi Bikes
0   Battery Park City            1       22           5
1             Chelsea           17       49          18
2           Chinatown            5        7           4
3        East Village           36        8          20
4  Financial District            0       38          18

In [6]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size = 16)